build/
.vscode/
.cache/
.idea/
ONVIF-SIM/fakecamera/auth.h
ONVIF-SIM/fakecamera/trial.c
ONVIF-SIM/fakecamera/getcapabilities.xml
ONVIF-SIM/fakecamera/main

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
_codeql_detected_source_root
