<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- Network Configuration -->
    <server_port>9000</server_port>
    
    <!-- Device Information -->
    <device>
        <manufacturer>Videonetics</manufacturer>
        <model>Videonetics_Camera_Emulator</model>
        <firmware_version>10.0</firmware_version>
        <serial_number>VN001</serial_number>
        <hardware_id>1.0</hardware_id>
    </device>
    
    <!-- ONVIF Scopes -->
    <scopes>
        <scope>onvif://www.onvif.org/type/video_encoder</scope>
        <scope>onvif://www.onvif.org/Profile/Streaming</scope>
    </scopes>
</config>