<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- Network Configuration -->
    <server_ip>172.16.4.9</server_ip>
    <server_port>7000</server_port>
    
    <!-- Device Information -->
    <device>
        <manufacturer>Videonetics</manufacturer>
        <model>Videonetics_Camera_Emulator</model>
        <firmware_version>10.0</firmware_version>
        <serial_number>VN001</serial_number>
        <hardware_id>1.0</hardware_id>
        <type>video_encoder</type>
        <profile>streaming</profile>
        <hardware>VMS</hardware>
        <location>India</location>
    </device>
    
    <!-- ONVIF Scopes -->
    <!-- <scopes>
        <scope>onvif://www.onvif.org/type/video_encoder</scope>
        <scope>onvif://www.onvif.org/Profile/Streaming</scope>
    </scopes> -->
</config>